*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: bisque;
    margin: 20px;
    font-size: 16px;
}
h1{
    font-size: clamp(2px, 6vw, 2rem);
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 20px;
}
.container{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.container .btn{
    border-radius: 5px;
    border-color: aliceblue;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
}
.container div .table{
    width: 100%;
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px;
    margin-top: 10px;
    font-size: 20px;
}
th, td{
    border: 1px solid white;
    text-align: left;
    padding: 2px;
    font-size: clamp(2px, 4vw, 18px);
}

.display_transaction{
    margin-left: 15px;
}
.display_transaction p{
    font-size: clamp(2px, 2vw, 16px);
}